{% extends "header.html" %}
{% block content %}
    <body>
        <h1 align="center">LearnY - Üben lohnt sich!</h1>
	<div align="center"> Geben Sie hier den Text ein. </div>
	<div align="center">
		<form method="POST">
        {{ form.textinput(cols="60", rows="10" ) }}
			<p>
            <hr>


            </p>
        <p>
          {{ form.clozetest_btn(class_="button") }}
          {{ form.wordsearch_btn(class_="button") }}
          {{ form.presentOrPast_btn(class_="button") }}
          {{ form.syllables_btn(class_="button") }}
          {{ form.infinitive_btn(class_="button") }}
        </p>
			</p>
		</form>
    {{ help}}

	</div>
    </body>
{% endblock %}
